/*here I changed the hyper-link color and the font-size to 30px in the header */
header >a{
    color:orange;
    font-size: 30px;
} 
/*here I changed the two paragraph with ID "school" hyper link color*/
#schools a{

    color:crimson
}