h1{
    color:rgb(62, 203, 62)
}
h2{
    color:rgb(186, 46, 165);

}

button {

    color:rgb(255, 255, 255);
    background-color:rgb(52, 34, 150);

}

p{
    color:rgb(55, 234, 15);
    background-color: rgb(202, 149, 52);

}